@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body {
  margin: 0;
  padding: 0;
  background:white;
  font-family: 'Just Another Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.garment_carousel {
  padding: 20px;
  font-size: 50px;
}
.topbar {
  height: 40px;
  width: 100%;
  background: black;
}

.upload_title {
  margin: auto;
  vertical-align: middle;
  justify-content:middle;
  margin-top: 10px;
  height: 500px;
  width: 97%;
  background-size: 100%;
  background-image: url("siteimages/background.jpg"),linear-gradient(rgba(255, 251, 251, 0.1),rgba(255, 251, 251, 0.1));
  background-repeat: no-repeat;
  overflow:hidden;
  /* box-shadow: 0 0 2em #80808066; */
}

.upload_an_item {
  justify-content: center;
  font-size: 40px;
  display: flex;
  vertical-align: middle;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
